header.sidebar
    .logo-details
        i.bx.bxl-c-plus-plus.icon
        .logo_name LOGO
        i#btn.bx.bx-menu
    ul.nav-list
        li
            a(href='#')
                i.bx.bx-grid-alt
                span.links_name Dashboard
            span.tooltip Dashboard
        li
            a(href='#')
                i.bx.bx-user
                span.links_name User
            span.tooltip User